<div class="flex-container">
  <div class="lds-dual-ring" *ngIf="isLoading"></div>

  <table class="tt-table" *ngIf="!isLoading">
    <tr>
      <th>Datum</th>
      <th>Organisator</th>
      <th>Freie Plätze</th>
      <th>Warteliste</th>
      <th>Area</th>
      <th>Anmeldelink</th>
    </tr>
    <tr *ngFor="let tournament of tournaments">
      <td>{{ tournament.date | date:'fullDate' }}</td>
      <td>{{ tournament.organizer }}</td>
      <td [style.color]="tournament.freeSpots | freeSpotsColor">{{ tournament.freeSpots }}</td>
      <td>{{ tournament.waitingList }}</td>
      <td>{{ tournament.area }}</td>
      <td><a [href]="tournament.registrationLink" target="_blank">Link</a></td>
    </tr>
  </table>
</div>
