html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(#111 0, #2e2e2e 50% ,#111 100%);
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
